name: OpenAPI Generator
'on':
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: 0 1 * * *
  workflow_dispatch: null
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate OpenAPI Generator Client
        uses: openapi-generators/openapitools-generator-action@v1.3.0
        with:
          generator: java
          openapi-file: openbanking-us.yaml
          generator-tag: latest-release
      - name: Create artifact
        uses: actions/upload-artifact@v3
        with:
          name: generated-client
          path: java-client/
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: adopt
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build OpenAPI Generator Client
        run: |
          cd java-client
          mvn clean test
